@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-open-sans: 'Open Sans';
    --font-cormorant-sc: 'Cormorant SC';

    --color-primary-50: rgba(255, 255, 252, 1);
    --color-primary-500: rgba(254, 250, 225, 1);
    --color-primary-400: rgba(254, 251, 231, 1);

    --color-secondary-500: rgba(121, 134, 72, 1);
    --color-secondary-700: #565F33;

    --color-button-500: rgba(65, 101, 219, 1);
}
