.breadcrumbs {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .breadcrumbs a {
    text-decoration: none;
    color: inherit;
  }
  
  .breadcrumbs a:hover {
    text-decoration: underline;
  }
  
  .title{
    color: var(--color-secondary-500);

    font-family: var(--font-cormorant-sc), serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}