.button{
    width: 290px;
    height: 40px;
    
    background: var(--color-button-500);
    
    border-radius: 4px;
    
    color: var(--color-primary-50);
    
    font-family: var(--font-open-sans), sans-serif;
    font-size: 19px;

    &:hover {
        transition: 0.2s ease-in-out;
        opacity: 0.8;
    }
}