.collections {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    background: var(--color-primary-500);
}

.title{
    color: var(--color-secondary-500);

    font-family: var(--font-cormorant-sc), serif;
    font-size: 48px;
    font-weight: 700;
}