.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  .paginationButton {
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-secondary-500);
        color: white;
        opacity: 0.8;
      }
  }