.card {
    width: 256px;
    height: 342px;
    
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgba(180, 178, 160, 1);
    border-radius: 12px;
    
    overflow: hidden; /* Для "обрезки" изображение */
}

.cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--color-primary-500);
    
    padding: 6px 16px;

    flex: 1;
}

.cardText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 175px;

    font-family: var(--font-open-sans), sans-serif;
}

.oldPrice{
    text-decoration: line-through;

    color: rgba(180, 178, 160, 1);
    
    margin: 0 0 0 5px;
}

.buttonCart{
    background-color: rgba(121, 134, 72, 1);
    
    width: 42px;
    height: 42px;

    
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 0 0 5px;
}

.priceLabel{
    color: rgba(180, 178, 160, 1);
}

.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* В product-card.module.css */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03); /* Легкое увеличение */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  }
  
  .card:active {
    transform: scale(0.97); /* Эффект нажатия */
  }
  
  .buttonCart {
    transition: transform 0.2s ease;
  }
  
  .buttonCart:hover {
    transform: scale(1.1); /* Увеличение кнопки при наведении */
  }
  
  .buttonCart:active {
    transform: scale(0.9); /* Эффект нажатия */
  }
  